label {
  text-transform: uppercase;
  font-size: 0.8em;
  color: black;
}

input[type="text"] {
  display: inline-block;
  border: none;
  text-align: left;
  box-shadow: 3px 2px rgba(121, 83, 210, 0.3);
  padding: 10px;
  width: 350px;
  margin: 10px 0;
  background: transparent;
  color: black;
}

input[type="text"]:focus {
  background: none;
  border: none;
  color: black;
}

button {
  background: transparent;
  color: black;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px 0;
  padding: 10px 30px;
  border: 2px solid purple;
}

button:hover {
  background: transparent;
  border: 2px solid rgba(69, 39, 160, 0.4);
}
.flexr{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}