 <!-- <link href='https://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css'>
<section style="background: #970497; color: rgba(0, 0, 0, 0.5);">
    <h2>main page</h2>
    <nav class="shift">
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/tag">Tags</a></li>
      </ul>
    </nav>
  </section>   
  -->
  
  <div class="wrapper">
    <nav>
      <div class="content">
      <div class="logo">Gallery</div>
        <ul class="links">
          <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/tag">Tags</a></li>
        </ul>
        <!-- <div>
          <fa-icon style="background-color: aliceblue;" [icon]='faSearch'></fa-icon>
        </div>
      </div>
      <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
      <form action="#" class="search-box">
        <input type="text" placeholder="Type Something to Search..." required>
        <button type="submit" style="background-color: aliceblue;" value="hiii">
          hiiiiiiiiii
        </button>
      </form> -->
      </div>
    </nav>
  </div>