<div class="center">
  <mat-toolbar id="testing">
    <div><button class="btn" (click)='clear()'> clear selection</button>
      <div class="flexr ">
        <label class="circle zoom-on-hover" style="font-size:30px;color: blueviolet;" (click)='prePage();'> &lt;&lt; </label>

        <span class="tag example-spacer" [ngClass]="calculateClasses(tag)" *ngFor="let tag of tags$ | async"
          (click)="selectdTagValue(tag)">
          {{tag.tagName}}
        </span>

        <label class="circle zoom-on-hover" style="font-size:30px;color: blueviolet;" (click)='nextPage();'>>></label>
      </div>
    </div>
  </mat-toolbar>
</div>