<app-header></app-header>

<div class="buttondiv">
  <button class="btn striped-shadow white" (click)="openAddDialog()" mat-button> <span>Add Image</span></button>
</div>
<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let element of datasource ;let i=index;">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>{{datasource[i].name}}</mat-card-title>
        </mat-card-header>
              <img mat-card-image src={{datasource[i].imageUrl}} width="400px" height="300px">
        <mat-card-actions>
          <button mat-button (click)="updateImageDialog(datasource[i])">Update</button>
          <button mat-button (click)="deleteImage(datasource[i])">Delete Image</button>
         
        </mat-card-actions>
      </mat-card>
      
      <div *ngFor="let TagArray of getImageTags(datasource[i]); index as j;">
        <span class="circle" *ngFor="let Tag of TagArray; index as j;" style="background-color: {{Tag.tagColor}};">
       {{Tag.tagName}}
        </span>
      </div>
    </div>
  </div>
</div>
<div class="input-group">
  <label style="font-size:30px;color: blueviolet;" (click)='nextPage();'>>></label>
  </div>
  <label style="font-size:30px;color: blueviolet;" (click)='prePage();'><<</label>
