<h1 mat-dialog-title>Update Image information</h1>
<div class="flexc">
<img src="{{imageinfo.image.imageUrl}}" width="400" height="300">
<label class="imageName">Image name</label>
<div mat-dialog-content class="flexr">
  <div class="input-group">
    <input value="" class="form-control" type="text" name="imageName" [formControl]="imageName" placeholder="{{imageinfo.image.name}}">
    <label for="imageName">{{imageinfo.image.name}}</label>
   
  </div><br><br>
  <!-- <input type="text" placeholder="{{imageinfo.image.name}}" id="imageName" [formControl]="imageName"><br><br> -->
  <mat-form-field style="padding-top: 10px;" appearance="fill">
    <mat-label>Tags</mat-label>
    <mat-select  [formControl]="imageTags" multiple>
      <mat-select-trigger>
        {{imageTags.value ? imageTags.value[0] : ''}}
        <span *ngIf="imageTags.value?.length > 1" class="example-additional-selection">
          (+{{imageTags.value.length - 1}} {{imageTags.value?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let tag of tags" [value]="tag._id" style="background-color: {{tag.tagColor}};">{{tag.tagName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
</div>
<div mat-dialog-actions class="flexrr">
  <button mat-button (click)="UpdateImage(imageinfo.image.id,imageinfo.image.imageUrl)">save </button>
  <button mat-button mat-dialog-close>Close</button>
</div>